In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Markdown, display, HTML

# Fix the dying kernel problem (only a problem in some installations - you can remove it, if it works without it)
import os
os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'

# Numpy tasks

For a detailed reference check out: https://numpy.org/doc/stable/reference/arrays.indexing.html.

**Task 1.** Calculate the sigmoid (logistic) function on every element of the following numpy array [0.3, 1.2, -1.4, 0.2, -0.1, 0.1, 0.8, -0.25] and print the last 5 elements. Use only vector operations.

In [2]:
data = np.array([0.3, 1.2, -1.4, 0.2, -0.1, 0.1, 0.8, -0.25])

result = (1 / (1 + np.exp(-data)))
print(result[-5:])

[0.549834   0.47502081 0.52497919 0.68997448 0.4378235 ]

**Task 2.** Calculate the dot product of the following two vectors:<br/>
$x = [3, 1, 4, 2, 6, 1, 4, 8]$<br/>
$y = [5, 2, 3, 12, 2, 4, 17, 11]$<br/>
a) by using element-wise mutliplication and np.sum,<br/>
b) by using np.dot,<br/>
b) by using np.matmul and transposition (x.T).

In [3]:
x = np.array([3,1,4,2,6,1,4,8])
y = np.array([5,2,3,12,2,4,17,11])

# a
print(np.sum(x * y))

# b
print(np.dot(x, y))

#c
print(np.matmul(np.transpose(x), y))

225
225
225

**Task 3.** Calculate value of the logistic model<br/>
$$y = \frac{1}{1 + e^{-x_0 \theta_0 - \ldots - x_9 \theta_9 - \theta_{10}}}$$
for<br/>
$x = [1.2, 2.3, 3.4, -0.7, 4.2, 2.7, -0.5, 1.4, -3.3, 0.2]$<br/>
$\theta = [2.7, 0.33, -2.12, -1.73, 2.9, -5.8, -0.9, 12.11, 3.43, -0.5, -1.65]$<br/>
and print the result. Use only vector operations.

In [58]:
x = np.array([1.2, 2.3, 3.4, -0.7, 4.2, 2.7, -0.5, 1.4, -3.3, 0.2])
theta = np.array([2.7, 0.33, -2.12, -1.73, 2.9, -5.8, -0.9, 12.11, 3.43, -0.5, -1.65])

y = (1 / (1 + np.exp(np.sum(-(x[:9] * theta[:9])) - theta[9])))
print(y)

0.5267245074568476

**Task 4.** Calculate value of the multivariate linear regression model<br/>
$$y = A x + B$$
for<br/>
$A = \begin{bmatrix} 1 & 2 & 1 \\ 3 & 0 & 1 \end{bmatrix}$<br/>
$B = \begin{bmatrix} 0.2 \\ 0.3 \end{bmatrix}$<br/>
$x = [1, 2, 3]^T$<br/>
and print the result. Use only vector and matrix operations.

In [5]:
A = np.array([
    [1, 2, 1],
    [3, 0, 1]
])
B = np.array([0.2, 0.3])
x = np.transpose(np.array([1, 2, 3]))

y = np.matmul(A, x) + B
print(y)

[8.2 6.3]

# Pandas

## Load datasets

- Steam (https://www.kaggle.com/tamber/steam-video-games)

- MovieLens (https://grouplens.org/datasets/movielens/)

In [6]:
steam_df = pd.read_csv(os.path.join("data", "steam", "steam-200k.csv"), 
                       names=['user-id', 'game-title', 'behavior-name', 'value', 'zero'])

ml_ratings_df = pd.read_csv(os.path.join("data", "movielens_small", "ratings.csv"))
ml_movies_df = pd.read_csv(os.path.join("data", "movielens_small", "movies.csv"))

## Merge both MovieLens DataFrames into one

In [7]:
ml_df = pd.merge(ml_ratings_df, ml_movies_df, on='movieId')
ml_df.head(10)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
5,18,1,3.5,1455209816,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
6,19,1,4.0,965705637,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
7,21,1,3.5,1407618878,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
8,27,1,3.0,962685262,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
9,31,1,5.0,850466616,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

## Pandas tasks - Steam dataset

**Task 5.** How many people made a purchase in the Steam dataset? Remember that a person could buy many games, but you need to count every person once.

In [8]:
filtered_df = steam_df.loc[steam_df['behavior-name'] == 'purchase']
filtered_df = filtered_df.drop_duplicates(subset=['user-id'])

print(len(filtered_df))

12393

**Task 6.** How many people made a purchase of "The Elder Scrolls V Skyrim"?

In [9]:
filtered_df = steam_df.loc[
    (steam_df['behavior-name'] == 'purchase') & 
    (steam_df['game-title'] == 'The Elder Scrolls V Skyrim')
]

print(len(filtered_df))

717

**Task 7.** How many purchases people made on average?

In [10]:
filtered_df = steam_df.loc[steam_df['behavior-name'] == 'purchase']
filtered_df = filtered_df.groupby('user-id').agg({'value': 'sum'}).reset_index()

average = filtered_df['value'].mean()

# display(filtered_df.head(10))
print(average)

10.45033486645687

**Task 8.** Who bought the most games?

In [11]:
filtered_df = steam_df.loc[steam_df['behavior-name'] == 'purchase']
filtered_df = filtered_df.groupby('user-id').agg({'value': 'sum'}).reset_index()

filtered_df = filtered_df.sort_values(by=['value'], ascending=False).head(10)

print(filtered_df.iloc[0]['user-id'])

62990992.0

**Task 9.** How many hours on average people played in "The Elder Scrolls V Skyrim"?

In [12]:
filtered_df = steam_df.loc[
    (steam_df['behavior-name'] == 'play') & 
    (steam_df['game-title'] == 'The Elder Scrolls V Skyrim')
]

filtered_df = filtered_df.groupby('user-id').agg({'value': 'sum'}).reset_index()

average = filtered_df['value'].mean()
# display(filtered_df.head(10))
print(average)

104.71093057607091

**Task 10.** Which games were played the most (in terms of the number of hours played)? Print the first 10 titles and respective numbers of hours.

In [13]:
filtered_df = steam_df.loc[
    (steam_df['behavior-name'] == 'play'),
    ['game-title', 'value']
]

filtered_df = (
    filtered_df
        .groupby('game-title')
        .agg({'value': 'sum'})
        .reset_index()
)

filtered_df = (
    filtered_df
        .sort_values(by=['value'], ascending=False)
        .reset_index()
)

filtered_df = filtered_df[['game-title', 'value']]

display(filtered_df.head(10))

                                    game-title     value
0                                       Dota 2  981684.6
1              Counter-Strike Global Offensive  322771.6
2                              Team Fortress 2  173673.3
3                               Counter-Strike  134261.1
4                   Sid Meier's Civilization V   99821.3
5                        Counter-Strike Source   96075.5
6                   The Elder Scrolls V Skyrim   70889.3
7                                  Garry's Mod   49725.3
8  Call of Duty Modern Warfare 2 - Multiplayer   42009.9
9                                Left 4 Dead 2   33596.7

**Task 11.** Which games are the most consistently played (in terms of the average number of hours played)? Print the first 10 titles and respective numbers of hours.

In [14]:
filtered_df = steam_df.loc[
    (steam_df['behavior-name'] == 'play'),
    ['game-title', 'value']
]

filtered_df = filtered_df.groupby('game-title').agg({'value': 'mean'}).reset_index()
filtered_df = filtered_df.sort_values(by=['value'], ascending=False).reset_index(drop=True)

display(filtered_df.head(10))

                          game-title        value
0            Eastside Hockey Manager  1295.000000
1  Baldur's Gate II Enhanced Edition   475.255556
2                    FIFA Manager 09   411.000000
3                          Perpetuum   400.975000
4              Football Manager 2014   391.984615
5              Football Manager 2012   390.453165
6              Football Manager 2010   375.048571
7              Football Manager 2011   365.703226
8                  Freaking Meatbags   331.000000
9        Out of the Park Baseball 16   330.400000

**Task 12\*\*.** Fix the above for the fact that 0 hours played is not listed, but only a purchase is recorded in such a case.

In [15]:
# Write your code here

**Task 13.** Apply the sigmoid function
$$f(x) = \frac{1}{1 + e^{-\frac{1}{100}x}}$$
to hours played and print the first 10 rows from the entire Steam dataset after this change.

In [16]:
def sigmoid(x):
    return 1 / (1 + np.exp((-1 / 100) * x))

steam_df_copy = steam_df.loc[steam_df['behavior-name'] == 'play'].copy()

#display(steam_df_copy.head(10))

steam_df_copy['value'] = steam_df_copy['value'].apply(sigmoid)

display(steam_df_copy.head(10))

      user-id                  game-title behavior-name     value  zero
1   151603712  The Elder Scrolls V Skyrim          play  0.938774     0
3   151603712                   Fallout 4          play  0.704746     0
5   151603712                       Spore          play  0.537181     0
7   151603712           Fallout New Vegas          play  0.530213     0
9   151603712               Left 4 Dead 2          play  0.522235     0
11  151603712                    HuniePop          play  0.521237     0
13  151603712               Path of Exile          play  0.520239     0
15  151603712                 Poly Bridge          play  0.518741     0
17  151603712                 Left 4 Dead          play  0.508249     0
19  151603712             Team Fortress 2          play  0.507000     0

## Pandas tasks - MovieLens dataset

**Task 14\*.** Calculate popularity (by the number of users who watched a movie) of all genres. Print a DataFrame with two columns: genre, n_users, where n_users contains the number of users who watched a given genre. Sort all genres in descending order.

In [46]:
#display(ml_df)

exploded_df = pd.DataFrame(ml_df['genres'].str.split('|').tolist(), index=ml_df['userId']).stack()
exploded_df = exploded_df.reset_index([0, 'userId'])
exploded_df.columns = ['userId', 'genres']

exploded_df = exploded_df.groupby('genres').agg(n_users = ('userId','sum'))
exploded_df = exploded_df.sort_values(by=['n_users'], ascending=False).reset_index()

display(exploded_df)

                genres   n_users
0                Drama  13704502
1               Comedy  12665334
2               Action   9933620
3             Thriller   8574908
4            Adventure   7785006
5              Romance   5901472
6               Sci-Fi   5644775
7                Crime   5338961
8              Fantasy   3884133
9             Children   2907549
10              Horror   2518565
11             Mystery   2487958
12           Animation   2223259
13                 War   1539412
14                IMAX   1347945
15             Musical   1346116
16             Western    604784
17         Documentary    416144
18           Film-Noir    285544
19  (no genres listed)     15757

**Task 15\*.** Calculate average rating for all genres. Print a DataFrame with two columns: genre, rating, where rating contains the average rating for a given genre. Sort all genres in descending order.

In [47]:
exploded_df = pd.DataFrame(ml_df['genres'].str.split('|').tolist(), index=ml_df['rating']).stack()
exploded_df = exploded_df.reset_index([0, 'rating'])
exploded_df.columns = ['rating', 'genres']

exploded_df = exploded_df.groupby('genres').agg(rating = ('rating', 'mean'))
exploded_df = exploded_df.sort_values(by=['rating'], ascending=False).reset_index()

display(exploded_df)

                genres    rating
0            Film-Noir  3.920115
1                  War  3.808294
2          Documentary  3.797785
3                Crime  3.658294
4                Drama  3.656184
5              Mystery  3.632460
6            Animation  3.629937
7                 IMAX  3.618335
8              Western  3.583938
9              Musical  3.563678
10           Adventure  3.508609
11             Romance  3.506511
12            Thriller  3.493706
13             Fantasy  3.491001
14  (no genres listed)  3.489362
15              Sci-Fi  3.455721
16              Action  3.447984
17            Children  3.412956
18              Comedy  3.384721
19              Horror  3.258195

**Task 17.** Calculate each movie rating bias (deviation from the mean of all movies average rating). Print first 10 in the form: title, average rating, bias.

In [83]:
#display(ml_df)

allMoviesAverage = ml_df.groupby('movieId').agg({'rating': 'mean'}).agg({'rating': 'mean'})

ml_df_copy = ml_df.copy().groupby('title').agg(rating = ('rating', 'mean')).reset_index()
ml_df_copy['bias'] = ml_df_copy['rating'].apply(lambda x: np.abs(allMoviesAverage - x))

print("allMoviesAverage: {}", allMoviesAverage)
display(ml_df_copy)

allMoviesAverage: {} rating    3.262448
dtype: float64

                                          title    rating      bias
0                                    '71 (2014)  4.000000  0.737552
1       'Hellboy': The Seeds of Creation (2004)  4.000000  0.737552
2                        'Round Midnight (1986)  3.500000  0.237552
3                           'Salem's Lot (2004)  5.000000  1.737552
4                     'Til There Was You (1997)  4.000000  0.737552
...                                         ...       ...       ...
9714                            eXistenZ (1999)  3.863636  0.601188
9715                                 xXx (2002)  2.770833  0.491615
9716             xXx: State of the Union (2005)  2.000000  1.262448
9717                      ¡Three Amigos! (1986)  3.134615  0.127833
9718  À nous la liberté (Freedom for Us) (1931)  1.000000  2.262448

[9719 rows x 3 columns]

**Task 17.** Calculate each user rating bias (deviation from the mean of all users average rating). Print first 10 in the form: user_id, average rating, bias.

In [85]:
#display(ml_df)

allUsersAverage = ml_df.groupby('userId').agg({'rating': 'mean'}).agg({'rating': 'mean'})

ml_df_copy = ml_df.copy().groupby('userId').agg(rating = ('rating', 'mean')).reset_index()
ml_df_copy['bias'] = ml_df_copy['rating'].apply(lambda x: np.abs(allUsersAverage - x))

print("allUsersAverage: {}", allUsersAverage)

display(ml_df_copy)

allUsersAverage: {} rating    3.657222
dtype: float64

     userId    rating      bias
0         1  4.366379  0.709157
1         2  3.948276  0.291054
2         3  2.435897  1.221325
3         4  3.555556  0.101667
4         5  3.636364  0.020859
..      ...       ...       ...
605     606  3.657399  0.000177
606     607  3.786096  0.128874
607     608  3.134176  0.523047
608     609  3.270270  0.386952
609     610  3.688556  0.031334

[610 rows x 3 columns]

**Task 18.** Randomly choose 10 movies and 10 users and print their interaction matrix in the form of a DataFrame with user_id as index and movie titles as columns. You can iterate over the DataFrame in this task.

In [ ]:
# Write your code here

## Pandas + numpy tasks

**Task 19.** Create the entire interaction matrix for the MovieLens dataset. Print the submatrix of first 10 rows and 10 columns.

In [ ]:
# Write your code here

**Task 20.** Calculate the matrix of size (n_users, n_users) where at position (i, j) there is the number of movies watched both by user i and user j. Print the submatrix of first 10 rows and 10 columns.

In [ ]:
# Write your code here

**Task 21.** Calculate the matrix of size (n_items, n_items) where at position (i, j) there is the number of users who watched both movie i and movie j. To prevent hanging your computer because of RAM shortage use only the first 1000 items. Print the submatrix of first 10 rows and 10 columns.

In [ ]:
# Write your code here